<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.mvc.model.dao.VideoDao">

	<!-- 영상 조회 -->
	<select id="selectVideo" parameterType="SearchCondition" resultType="Video">
		SELECT v.video_id AS videoId, v.title AS title, v.youtube_url AS youtubeUrl, v.channel_name As channelName, v.view_cnt AS viewCnt, v.part_code AS partCode, b.part_name AS partName
		FROM video v LEFT OUTER JOIN body_part b ON v.part_code = b.part_code
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="key != 'none'">
				AND ${key} LIKE CONCAT('%', #{word}, '%')
			</if>
			<if test="orderBy != 'none'">
				ORDER BY ${orderBy} ${orderByDir}
			</if>
		</trim>
	</select>
	
	<!-- id로 영상 조회 -->
	<select id="selectVideoByVideoId" parameterType="int" resultType="Video">
		SELECT v.video_id AS videoId, v.title AS title, v.youtube_url AS youtubeUrl, v.channel_name As channelName, v.view_cnt AS viewCnt, v.part_code AS partCode, b.part_name AS partName
		FROM video v LEFT OUTER JOIN body_part b ON v.part_code = b.part_code
		WHERE v.video_id = #{id};
	</select>
	
	<!-- 영상 등록 -->
	<insert id="insertVideo" parameterType="Video" keyProperty="videoId" useGeneratedKeys="true">
		INSERT INTO video (title, youtube_url, channel_name, part_code)
		VALUES (#{title}, #{youtubeUrl}, #{channelName}, #{partCode});
	</insert>
	
	<!-- 영상 수정 -->
	<update id="updateVideo" parameterType="Video">
		UPDATE video
		SET title=#{title}, youtube_url=#{youtubeUrl}, channel_name=#{channelName}, part_code=#{partCode}
		WHERE video_id = #{videoId};
	</update>
	
	<!-- 영상 삭제 -->
	<delete id="deleteVideo" parameterType="int">
		DELETE FROM video
		WHERE video_id = #{videoId};
	</delete>

</mapper>