.message-container {
    margin-top: 2rem;
    width: 100%;
    border: 3px solid red;
    display: flex; 
    flex-direction: column;
    align-content: center;
}

.week-container {
    border: 1px solid blue;
    display: flex;
    justify-content: space-around;
}
